.principal{
	-webkit-box-shadow: 10px 10px 16px 3px rgba(0,0,0,0.67);
	-moz-box-shadow: 10px 10px 16px 3px rgba(0,0,0,0.67);
	box-shadow: 10px 10px 16px 3px rgba(0,0,0,0.67);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	background-color: #19942b;
	width: 400px;
 	margin: 0 auto;
	
}

.caja{
	width: 200px;
 	margin: 0 auto;
}

.white{
	color: #fff;
}